@page "/"
@attribute [StreamRendering]

<PageTitle>Umarell 2.0</PageTitle>

<h1>Umarell 2.0</h1>

<p>
    Umarell (Italian spelling of the Bolognese Emilian word umarèl, 
    Emilian pronunciation: [umaˈrɛːl]; plural umarî) are men of retirement age who spend their time watching construction sites, 
    especially roadworks – stereotypically with hands clasped behind their back and offering unwanted advice to the workers.
    Its literal meaning is "little man" (also umaréin). 
    The term is employed as lighthearted mockery or self-deprecation.
</p>
<p>
    The modern term was popularised in 2005 by local writer Danilo Masotti through three books and an associated blog.
    In 2021, the word was included in the Zingarelli dictionary
</p>
<p>
    Source: Wikipedia <a href="https://en.wikipedia.org/wiki/Umarell" target="_blank">https://en.wikipedia.org/wiki/Umarell</a>
</p>

<hr />

<div class="row">
    <div class="col">
        <CurrentTemperature />
    </div>
    <div class="col">
        <BuildingSiteCounter />
    </div>
    <div class="col">

    </div>
</div>

