@page "/"
@attribute [StreamRendering]

<PageTitle>Umarell 2.0</PageTitle>

<h1>Umarell 2.0</h1>


<hr />

<div class="row">
    <div class="col">
        <CurrentTemperature />
    </div>
    <div class="col">
        <BuildingSiteCounter />
    </div>
    <div class="col">

    </div>
</div>

