@inject IBuildingSitesService BuildingSitesService
<div class="card border-success shadow h-100 py-2" style="border-left-width: 5px;">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Cantieri sengalati
                </div>
                @if (_count is null)
                {
                    <div class="h5 mb-0 font-weight-bold text-gray-800">loading...</div>
                }
                else
                {
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@_count</div>
                }
            </div>
            <div class="col-auto">
                <i class="fa-solid fa-person-digging fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>


@code {
    private float? _count;

    override protected async Task OnInitializedAsync()
    {
        _count = await BuildingSitesService.BuildingSitesCountAsync();
    }
}
