@inject IWeatherProxyService WeatherProxy

<div class="card border-start border-s border-primary shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Temperatura
                </div>
                @if (_temperature is null)
                {
                    <div class="h5 mb-0 font-weight-bold text-gray-800">loading...</div>
                }
                else
                {
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@_temperature °C</div>
                }
            </div>
            <div class="col-auto">
                <i class="fa-solid fa-temperature-half fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>


@code {
    private float? _temperature;

    override protected async Task OnInitializedAsync()
    {
        _temperature = await WeatherProxy.GetCurrentTemperatureAsync(45.88, 12.33);
    }
}
